.face {
  height: 6rem;
  width: 4.2rem;
}

.item .face {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.25s;
}

.toggled .face {
  transform: rotateY(0deg);
  transition-delay: 0.25s;
}

.back {
  height: 6rem;
  width: 4.2rem;
  background-size: 100%;
  background-position: bottom;
  background-image: url(../../Assets/playing-card-background.jpeg);
  color: rgb(61, 21, 21);
  border: 1px solid black;
}

.item .back {
  transition: all ease-in 0.25s;
  transition-delay: 0.25s;
}

.toggled .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
