.container {
  display: flex;
  flex-direction: column;
}

.gameSelector {
  display: grid;
  margin: auto;
  margin-top: 3rem;
  place-items: center;
  row-gap: 1rem;
}

.selected {
  background-color: orange;
}

.optionLabel {
  font-size: 0.75rem;
}
